.footer {
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
  }

.footer p {
  font-size: 1.3rem;
  font-weight: 500;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.1;
  }

.footer img {
  width: 45px;
  height: 45px;
}