
.container {
    max-width: 60rem;
    padding: 0 1rem;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 70vh;
    background-color: aqua;
}

@media screen and (min-width: 900px) {
    .container {
        max-width: 60rem;
        margin-top: 50px;
        padding: 0 1rem;
        margin: 0 auto;
        margin-top: 50px;
        min-height: 100vh;
        background-color: aqua;
    }        
}