.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 10px 10px;
  margin-bottom: 40px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #0046BF;
  color: #FFFFFF;
  border-radius: 50%;
}

.nav {
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navbar_ul .active {
  left: 20%
}

.navbar_ul {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  transition: 0.5s ease left;
  text-transform: capitalize;
}

.navbar_ul li {
  display: inline-block;
  transition: 0.3s linear;
}

.navbar_ul a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 550;
  letter-spacing: 0.5px;
  transition: 0.3s linear;
  margin: 0 1.5rem;
  padding: 8px;
}

.navbar_ul a ::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 13 rem;
  color: rgba(240, 248, 255, 0.021);
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

.navbar_ul li:hover .navbar_ul a ::after {
  transform: translate(-50%, -50%) scale(0);
  letter-spacing: initial;
}

.navbar_ul  li:hover a, .navbar_ul  .active {
  background: #EB34CF;
  color: aliceblue;
}


.header .nav_btn_open {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  color: blue;
}

/* for smaller screens */
@media only screen and (max-width: 1024px) {
  .header {
    padding: 0px 0px;
  }
  
  .logo {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 10px;
  }

   /*for both bottons style  */
  .header .nav_btn_open {
      visibility: visible;
      opacity: 1;
  }
  
  /* to cover the whole page */

  .nav {
      position: fixed;
      top: 0;
      left: 60%;
      margin-right: 0;
      height: 50%;
      width: 40%;
      align-items: center;
      justify-content: center;
      background-color: chocolate;
      transition: 1s;
      transform: translateY(-100vh);
  }

    .navbar_ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease-in;
      text-align: center;
  }

  .header .responsive_nav {
      transform: none;
  }

  .nav .nav_close {
      position: absolute;
      top: 2rem;
      right: 2rem;
  }

    .navbar_ul a {
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 0.5px;
    transition: 0.3s linear;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .navbar_ul li {
    display: inline-block;
    transition: 0.3s linear;
  }

    .fabars {
      font-size: 1.5rem;
      padding-right: 5px;

  }
}


